.idea
log.log
release
test
/snapshot_2025-03-15_15-57.zip
cmake-build-debug
/cmd.cmd
/snapshot_2025-07-04_00-12.zip
/snapshot_2025-07-01_23_29.zip
/snapshot_2025-03-15_15-57.zip
/check_lib.cmd
